<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>admin_page</title>
        <link rel="stylesheet" type="text/css" href="adminpage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        
        <div class ="title">관리자 페이지</div>
      <span><input class="text_box" type="text" placeholder="단어 또는 뜻 입력" autofocus size="25">&nbsp;<i class="fa-solid fa-magnifying-glass"></i></span>
        <span><button  class="editButton" onclick="location.href = 'admin_edit_page.html' " >편집</button><button  class="addButton" onclick="openModal()" >추가</button></span>
        <br>
         <br>
          <br>
          <br>
          <br>
          <br>
       <hr style="border:3px solid #8d8d8d;"/>
       
        <div class="word">sophisticated</div><div class="meaning"> 세련된, 정교한, 복잡한</div>
        <hr style="border:1px solid #8d8d8d;"/>
        
        
        <span><div class="word"> sophistication</div><div class="meaning"> 세련, 정교함</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word"> consecutive </div><div class="meaning"> 연속적인, 연이은</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">  quality </div><div class="meaning"> 질, 품질</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
          
        <span><div class="word">  completely </div><div class="meaning"> 완전히</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
         
        <span><div class="word">   complete </div><div class="meaning"> 완료하다</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
       
        <span><div class="word">    completion </div><div class="meaning">  완료, 완성</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
         
        <span><div class="word">     information </div><div class="meaning">   정보</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
         
        <span><div class="word">     deliberation </div><div class="meaning">   토의, 숙고, 신중함</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">formerly </div><div class="meaning">  이전에, 예전에</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
           
        <span><div class="word">conveniently </div><div class="meaning">   편리하게</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
           
        <span><div class="word"> convenient </div><div class="meaning">   편리한</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
                
        
        <span><div class="word">  increase </div><div class="meaning">증가하다, 증가, 인상</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
      
     
        <span><div class="word">   decrease </div><div class="meaning">줄다, 감소하다, 감소, 하락</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">   consistency </div><div class="meaning"> 일관성, 한결같음</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">    inconsistency </div><div class="meaning">불일치</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
       
        <span><div class="word"> enhance </div><div class="meaning">(가치를)높이다, 향상시키다</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word"> estimate </div><div class="meaning"> 추정하다 / 추정치</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">      establish  </div><div class="meaning"> 설립하다, 수립하다</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
         <!-- 모달 -->
  <div id="myModal" class="modal">
    <!-- 모달 콘텐츠 -->
    <div class="modal-content">
      <span  id="closeBtn" onclick="closeModal()" style="float: right; cursor: pointer;">&times;</span>
      <p1 class = "modal_title">단어 추가하기</p1>
      <br>
      <br>
      <br>
      <input type="text" id="Inputword" size="28" placeholder="단어 입력" autofocus>
      <textarea id="Inputmeaning" cols="30" rows="10" placeholder="뜻 입력" autofocus></textarea>
      <br><br>
     
      <button id="addbtn" onclick="submitText()">추가</button>
    </div>
  </div>
        
        
         <script >
        // 모달 열기
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }
    
    // 모달 닫기
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }
    
    // 입력값 처리
    function submitText() {
      var input = document.getElementById("Inputword").value;
      console.log("입력값: " + input);
        alert("정상적으로 추가되었습니다.");
      closeModal(); 
        
    }
        
    </script>
    </body>
</html>