<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <title>wordbook</title>
      <link rel="stylesheet" type="text/css" href="../../static/css/wordbook.css">
  </head>
  <body>
      <div class ="icon">
          <a href="/main"><img src="/images/상명로고.png" alt="Icon" , width="400"></a>
      </div>
      <div class ="title">단어장</div>
       
      <span><button id="deleteButton" form="delete" action="">삭제</button>
          <button id="finishButton" onclick="location.href = 'groups'">완료</button></span>
        
      <hr style="border:3px solid #8d8d8d;"/>
      <form id="delete" method="post">
          <div class="wordbook_btn" style="display:inline;" th:each="info : ${groups}">
              <span><input type="checkbox" id="groupId" onchange="activateButton('Checkbox1', 'wrong_word_Button')" name="groupId" th:value="*{info.groupId}"><button id="edit_wrong_word_Button" th:text="*{info.groupName}"th:name="*{info.groupId}" disabled>오답 노트</button></span>
              <span th:if="${infoStat.even}"></br></span>
          </div>
      </form>
    <script >
       function activateButton(checkboxId, buttonId) {
      var checkbox = document.getElementById(checkboxId);
      var button = document.getElementById(buttonId);
      
      if (checkbox.checked) {
        button.classList.add("enabled");
                button.disabled = false;
      } else {
       button.classList.remove("enabled");
                button.disabled = true;
      }
    }
    </script>
  </body>
</html>