<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>wordbook_insidepage</title>
        <link rel="stylesheet" type="text/css" href="/css/wordbook_insidepage.css">
    </head>
    <body>
        <div class ="icon">
            <a href="/main"><img src="/images/상명로고.png" alt="Icon" , width="400"></a>
       </div>
        <div class ="title">단어장</div>

        <span><div class="title2" th:text="|단어장>[${groupName}]|"></div></span><button id="deleteButton" type="submit" form="delete" method="post" th:onclick="showAlert()">삭제</button>
        <button id="finishButton" onclick="location.href='/group';">완료</button></span>
       <hr style="border:3px solid #8d8d8d;"/>
        <form id="delete" method="post">
            <div th:each="word : ${words}">
                <input type="checkbox" th:id="wordId" name="wordId" th:value="*{word.wordId}"><div class="word" th:text="*{word.spelling}">spelling</div><div class="meaning" th:text="*{word.mean}">mean</div>
                <hr style="border:1px solid #8d8d8d;"/>
            </div>
        </form>
    </body>
    <script>
        function showAlert() {
            alert("정상적으로 삭제되었습니다!");
        }
    </script>
</html>