<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>wordbook_insidepage</title>
        <link rel="stylesheet" type="text/css" href="wordbook_insidepage.css">
    </head>
    <body>
        <div class ="icon">
           <a href="#"><img src="%EC%83%81%EB%AA%85%EB%A1%9C%EA%B3%A0.png" alt="Icon" width="400"></a>
       </div>
        <div class ="title">단어장</div>
       
        <span><div class="title2">단어장>[RC] </div><button  class="editButton" onclick="location.href = 'wordbook_inside_editpage.html' " >편집</button></span>
       <hr style="border:3px solid #8d8d8d;"/>
       
        <div class="word">sophisticated</div><div class="meaning"> 세련된, 정교한, 복잡한</div>
        <hr style="border:1px solid #8d8d8d;"/>
        
        
        <span><div class="word"> sophistication</div><div class="meaning"> 세련, 정교함</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word"> consecutive </div><div class="meaning"> 연속적인, 연이은</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">  quality </div><div class="meaning"> 질, 품질</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
          
        <span><div class="word">  completely </div><div class="meaning"> 완전히</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
         
        <span><div class="word">   complete </div><div class="meaning"> 완료하다</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
       
        <span><div class="word">    completion </div><div class="meaning">  완료, 완성</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
         
        <span><div class="word">     information </div><div class="meaning">   정보</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
         
        <span><div class="word">     deliberation </div><div class="meaning">   토의, 숙고, 신중함</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">formerly </div><div class="meaning">  이전에, 예전에</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
           
        <span><div class="word">conveniently </div><div class="meaning">   편리하게</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
           
        <span><div class="word"> convenient </div><div class="meaning">   편리한</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
                
        
        <span><div class="word">  increase </div><div class="meaning">증가하다, 증가, 인상</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
      
     
        <span><div class="word">   decrease </div><div class="meaning">줄다, 감소하다, 감소, 하락</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">   consistency </div><div class="meaning"> 일관성, 한결같음</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">    inconsistency </div><div class="meaning">불일치</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
       
        <span><div class="word"> enhance </div><div class="meaning">(가치를)높이다, 향상시키다</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word"> estimate </div><div class="meaning"> 추정하다 / 추정치</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
        <span><div class="word">      establish  </div><div class="meaning"> 설립하다, 수립하다</div></span>
        <hr style="border:1px solid #8d8d8d;"/>
        
    </body>
</html>