<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>wordtest_result</title>
        <link rel="stylesheet" type="text/css" href="/css/wordtest_page.css">
    </head>
    <body>
        <div class ="icon">
            <a href="/main"><img src="/images/상명로고.png" alt="Icon" , width="400"></a>
        </div>
        <span><div class ="title" th:text="${testName}"></div></span>
        <hr style="border:3px solid #8d8d8d;"/>
        <center><h1 class= "test_result">테스트 결과</h1></center>
        <span><center><button id="result_box"><h1 class="right_word" th:text="|${right} / ${max}|">8</h1><h1 class="take_time" th:text="|소요시간: ${time}|">소요시간 3:30</h1></button></center></span>
        <center><button id ="go_back_main_btn" onclick="location.href='/main'">메인 페이지로 돌아가기</button></center>
    </body>
</html>
