<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>wordtest_page</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/wordtest_page.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class ="icon">
           <a href="#"><img src="%EC%83%81%EB%AA%85%EB%A1%9C%EA%B3%A0.png" alt="Icon" width="400"></a>
       </div>
        <span><div class ="title">월말 테스트</div></span>
        <hr style="border:3px solid #8d8d8d;"/>
        <center><i class="fa-regular fa-clock"><div id="timer"></div></i></center>
       
        
        <center><div class="question">
    <h3>1.impressive</h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1">인상적인</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">옮기다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">조심하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4">건강</label>
    </div>
  </div>
</center>
        
                                          
          <center><div class="question">
    <h3>2.reduce</h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1">줄이다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">조심하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">회복시키다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4">개조하다</label>
    </div>
  </div>
</center>
                                           
           <center><div class="question">
    <h3>3.recommend</h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1">추천하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">담보물</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">모습</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4">불확실한</label>
    </div>
  </div>
</center>
                                           
           <center><div class="question">
    <h3>4.delicate</h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1">연약한</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">흩뜨리다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">짐작하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4">풍경</label>
    </div>
  </div>
</center>
                                                                                                                   
          <center><div class="question">
    <h3>5.excessive</h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1">지나친</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">넘다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">훌륭한</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4">대표</label>
    </div>
  </div>
</center>
           <center><div class="question">
    <h3>6.direction</h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1"> 방향</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">정책</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">제한하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4">금지</label>
    </div>
  </div>
</center>
                                                 
           <center><div class="question">
    <h3>7.assent </h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1">찬성</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">상당한</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">전시하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4"> 주장하다</label>
    </div>
  </div>
</center>
            <center><div class="question">
    <h3>8.courteous</h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1">공손한</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">거부하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">필요하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4">기여하다</label>
    </div>
  </div>
</center>
         
         <center><div class="question">
    <h3>9.competen</h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1"> 능숙한</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">무능한</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">보험</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4"> 의무적인</label>
    </div>
  </div>
</center>
                                                                                                       
          <center><div class="question">
    <h3>10. frequently </h3>
    
    
    <div class="choice">
      <input type="radio" id="choice1" name="color" value="red">
      <label for="choice1">자주</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice2" name="color" value="blue">
      <label for="choice2">	 빈도</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice3" name="color" value="green">
      <label for="choice3">퇴직하다</label>
    </div>
    <div class="choice">
      <input type="radio" id="choice4" name="color" value="yellow">
      <label for="choice4">보행자</label>
    </div>
  </div>
</center>
           <br>
           <br>
           <br>
           <br>                                                 
    <center><button id="submit_btn" onclick="location.href = 'wordtest_result.html' ">제출하기</button></center>
                                                             
    <script>
	var time = 300; //기준시간 작성
	var min = ""; //분
	var sec = ""; //초

	//setInterval(함수, 시간) : 주기적인 실행
	var x = setInterval(function() {
		//parseInt() : 정수를 반환
		min = parseInt(time/60); //몫을 계산
		sec = time%60; //나머지를 계산

		document.getElementById("timer").innerHTML = min + ":" + sec;
		time--;

		//타임아웃 시
		if (time < 0) {
			clearInterval(x); //setInterval() 실행을 끝냄
			document.getElementById("timer").innerHTML = "시간초과";
		}
	}, 1000);
</script>
        
        
    </body>        
</html>