<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/main.css">
  <script defer src="/js/common.js"></script>

  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>
<!-- 메인 페이지 -->
<!-- HEADER -->
<div>

  <header>
    <!-- 메인 메뉴바 -->
    <div class="inner">
      <a href="/main" class="logo">
        <img src="/images/상명로고.png" alt="logo">
      </a>

      <ul class="main-menu">
        <li class="menu">
          <div class="menu__name">
            <a href="" onclick="service()">단어 학습</a>
          </div>
        </li>
        <li class="menu">
          <div class="menu__name">
            <a href="" onclick="service()">데일리 테스트</a>
          </div>
        </li>
        <li class="menu">
          <div class="menu__name">
            <a href="" onclick="service()">나의 단어장</a>
          </div>
        </li>
      </ul>

      <!-- 로그인/회원가입 -->
      <div class="signBtn">
        <div class="signin">
          <a href="/login">로그인</a>
        </div>
        <div class="signup" onclick="location.href=('/signup/1')">
          회원가입
        </div>
      </div>
    </div>
  </header>

</div>


<!-- 네이버 로그인 버튼 노출 영역 -->
<div id="naver_id_login"></div>
<!-- //네이버 로그인 버튼 노출 영역 -->

<!-- 네이버아이디로로그인 초기화 Script -->
<!--<script type="text/javascript">-->
<!--	var naver_id_login = new naver_id_login("_SKWo4UGbkczjCyVpcHR", "http://localhost:5500/index.html");-->
<!--	var state = naver_id_login.getUniqState();-->
<!--	naver_id_login.setButton("green", 3,50);-->
<!--	naver_id_login.setDomain("http://localhost:5500/login/login.html");-->
<!--	naver_id_login.setPopup();-->
<!--	naver_id_login.init_naver_id_login();-->
<!--</script>-->
</body>
</html>