<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>spelling</th>
                <th>mean</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="word : ${words}">
                <td><a th:text="${word.wordId}">id</a></td>
                <td><a th:text="${word.spelling}">id</a></td>
                <td><a th:text="${word.mean}">id</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>