.edit {
  margin-top: 50px;
  padding: 100px 0 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.edit__card {
  width: 400px;
  margin: 0 auto;
  border-radius: 6px;
} 
.edit__card form {
  padding: 30px 22px;
}
.edit__card form input, select{
  width: 100%;
  /* margin-bottom: 20px; */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
}

.edit__card form [type="submit"] {
  background-color: #FE7373;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 0;
}
.edit__card p {
  display: block; /*수직 정렬하기 */
  margin: 0 0 8px 3px;
  font-size: 17px;
  font-weight: 700;
  color: #555;
}
.edit__card .input__name {
  margin-top: 20px;
}
.edit__card .notice {
  font-weight: 500;
  font-size: 12px;
}


