header {
  z-index: 1;
  background-color: white;
}
header a {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  display: block;
  color: #656565;
}
header a:hover {
  color: #FE7373;
}
header .main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 52px;
  left: 220px;
  margin: auto;
  z-index: 1;
  display: flex;
}

header .signBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 60px;
  right: 0;
  margin: auto;
  z-index: 1;
  display: flex;
}
header .signBtn .signup {
  margin: auto;
  color: white;
  border-radius: 15px;
  background-color: #FE7373;
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
  display: block;
  cursor: pointer;
}
header .myPage__icon {
  color: #656565;
  position: absolute;
  height: 40px;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 40px;
  margin: auto;
  cursor: pointer;
}

/* 마이페이지 */
.myPage__nav{
  margin : 0;
  z-index: 10;
  right: 0;
  width: 400px;
  background-color: #555;
  border-right: 1px solid #ddd;
  position: fixed;
  height: 100%;
  color: white;
  display: none;
}
.myPage__nav.active {
  display: block;
}
.userInfo__name {
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 20px;
  display: block;
}
.userLevel, .userGoal {
  color: #FE7373;
  font-size: 40px;
  font-weight: 800;
  padding: 5px 20px 20px 20px;
  display: block;
}
.myPage__nav i {
  /* position: absolute; */
  height: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 40px;
  padding: 20px;
  cursor: pointer;
}
.myPage__nav a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  display: block;
}
.myPage__nav a:hover {
  color: #FE7373;
}
.myPage__nav ul.myPage li:first-child:before {
  display: block;
  content: "";
  height: 3px;
  width: 150px;
  background-color: white;
  top: 0;
  bottom: 0;
  margin: 20px 30px;
  cursor: none;
}
.myPage__nav .logout {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  margin: 80px 0;
  display: block;
  cursor: pointer;
}
.myPage__nav .logout:hover {
  color: #FE7373;
}
