.title{
    position: absolute;
width: 313px;
height: 47px;
left: 516px;
right: 1091px;
top: 60px;
bottom: 933px;

color: rgb(141, 141, 141);
font-family: Inter;
font-size: 35px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0px;
text-align: left;
    
}

 i{
    
     background-color: lightcoral;
            color: white;
            margin-top: 20px;
            width: 180px;
            height: 80px;
            font-size: 30px;
            border: none;
            border-radius: 20px;
            position: fixed;
}

 .question {
      background-color: #dcdcdc;
      padding: 50px;
      margin-top: 50px;
     font-size: 50px;
     width: 1500px;
    height: 350px;
     border-radius: 20px;
    }

    .choice {
      margin-bottom: 5px;
        display: inline;
        text-align: center;
    }

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 2.0em;
  height: 2.0em;
     transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
  border: 0.4em solid blue;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}
[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) gray;
  cursor: pointer;
}

#submit_btn{
     background-color: gray;
            color: white;
            margin-top: 50px;
            width: 600px;
            height: 150px;
            font-size: 50px;
            border: none;
            border-radius: 20px;
            cursor: not-allowed;
            margin-top: 300px;
             margin-bottom: 300px;
}

#submit_btn:hover{
            background-color: green;
            cursor: pointer;
        }

.test_result{
margin-top: 100px;    
color: rgb(141, 141, 141);
font-family: Inter;
font-size: 35px;
}

.right_word{
    font-size: 50px;
    color:white;
}
.total_word{
     font-size: 50px;
    color:#828282;
}

.right_word, .total_word{
    display: inline;
  
}
.take_time{
     font-size: 35px;
    color:white;
}
#result_box{
    background-color: #FF9DFF;
           
            width: 600px;
            height: 300px;
            border: none;
            border-radius: 20px;
            cursor: not-allowed;
            margin-top: 100px;
          
}

#go_back_main_btn{
     background-color: gray;
            color: white;
            width: 500px;
            height: 80px;
            font-size: 30px;
            border: none;
            border-radius: 20px;
            cursor: not-allowed;
            margin-top: 100px;
             margin-bottom: 300px;
}

#go_back_main_btn:hover{
            background-color: #78EFAD;
            cursor: pointer;
        }

