<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/signup.css">
  <script defer src="/js/common.js"></script>
</head>
<body>
<!-- HEADER -->
<div>
  <header>
    <div class="inner">
      <a href="/main" class="logo">
        <img src="/images/상명로고.png" alt="logo">
      </a>
      <div class="page__name">회원 가입</div>
    </div>
  </header>
</div>

<!-- Sign up 첫번째 페이지 -->
<section class="signup">
    <div class="signup__card">
      <form action="1" method="post" th:object="${signUpBase}">
        <p>아이디 입력</p>
        <p class="notice">알파벳 소문자,숫자 포함 / 5-15자 이내</p>
        <input id="id" type="text" name="loginId" placeholder="아이디" th:field="*{loginId}"/>
        <div class="field-error" th:errors="*{loginId}">아이디 오류</div>
        <p>비밀번호 입력</p>
        <p class="notice">알파벳 소문자,숫자 포함 / 5-15자 이내</p>
        <input id="pw" type="password" name="password" placeholder="비밀번호" />
        <div th:class="field-error" th:errors="*{password}">비밀번호 오류</div>
        <p>비밀번호 확인</p>
        <input id="pw__confirm"type="password" name="passCheck" placeholder="비밀번호 확인" />
        <div th:class="field-error" th:errors="*{passCheck}">비밀번호 오류</div>
        <input type="submit" value="설정 완료"></input>
      </form>
  </div>
</section>
</body>
</html>